@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

:root {
    --main-color: #E6C744;
    --secondary-color: #000;
    --tertiary-color: #C2C8DA;
    --background-color: #FFF;
}

#first-section {
    width: 100%;
    margin: 0px 20px 12px 20px;
}
/* top right bottom left */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    background-color: var(--tertiary-color, gray);
}

#sponsor-section {
    background-color: var(--main-color, yellow);
}

#payday {
    background-color: var(--main-color, yellow);
}