@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 3% 5%; /* top right bottom left */   
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;

    p {
        color: $secondary-color;
    }
    
    .nav-bar-item {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.22px;
    }

    button {
        width: 98px;
        height: 46px;
        flex-shrink: 0;
        color: $quaternary-color;
        border-radius: 7px;
        background: $secondary-color;
    }
}

.fashion {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;

    img {
        width: 20px;
    }
    p {
        color: $secondary-color;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 1.2px;
    }
}

#main-content {
    background-color: $quinary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            width: 120px;
            height: 48px;
            flex-shrink: 0;
            color: $quaternary-color;
            border-radius: 10px;
            background: $secondary-color;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.5px;
        }
    }

    img {
        width: 600px;
        height: 513px;
        flex-shrink: 0;
    }
}

#sponsor-section {
    background-color: $primary-color;
}

#payday {
    background-color: $primary-color;
}